@using App.Enums;
@model UserModel
@{
    ViewData["Title"] = "Criar usuário";
}

<div class="text-center">
    <h1>Cadastrar usuário</h1>
</div>

<form asp-controller="User" asp-action="Post" method="post">

    <div class="mb-3">
        <label for="name" class="form-label">Nome:</label>
        <input id="name" name="name" asp-for="Name" class="form-control" type="text" autocomplete="on" placeholder="Digite o nome" />
        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input id="email" name="email" asp-for="Email" class="form-control" type="email" autocomplete="on" placeholder="Digite o email" />
        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label for="login" class="form-label">Login:</label>
        <input id="login" name="login" asp-for="Login" class="form-control" type="text" autocomplete="on" placeholder="Digite o login" />
        @Html.ValidationMessageFor(x => x.Login, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label for="profile" class="form-label">Perfil:</label>
        <select asp-for="Profile" class="form-control">
            <option value="0">Selecione</option>
            <option value="@ProfileEnum.Admin.ToString()">Administrador</option>
            <option value="@ProfileEnum.Padrao.ToString()">Padrão</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Senha:</label>
        <input id="password" name="password" asp-for="Password" class="form-control" type="password" autocomplete="on" placeholder="Digite a senha" />
        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary w-100">Adicionar</button>
    </div>

    <div class="mb-3">
        <a class="btn btn-secondary w-100" asp-controller="User" asp-action="Index" role="button">Voltar</a>
    </div>
</form>