@model List<UserModel>
@{
    ViewData["Title"] = "Lista de usuários";
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="User" asp-action="Create">Adicionar novo usuário</a>
    </div>
    <br />

    @if(TempData["MessageSucess"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MessageSucess"]
        </div>
    }

    @if (TempData["MessageErr"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MessageErr"]
    </div>
    }

    <br />

    <h1 class="display-4">Lista de usuários</h1>

    <table class="table" id="table-users" style="width:100%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">Email</th>
                <th scope="col">Perfil</th> 
                <th scope="col">Total de Contatos</th>
                <th scope="col">Data de Cadastro</th>
            </tr>
        </thead>
        <tbody>
           @if (Model != null && Model.Any())
           {
                foreach (UserModel user in Model)
                {
                    <tr>
                        <th scope="row">@user.IdUser</th>
                        <td>@user.Name</td>
                        <td>@user.Login</td>
                        <td>@user.Email</td>
                        <td>@(user.Profile == App.Enums.ProfileEnum.Admin ? "Administrador" : "Padrão")</td>
                        <td>
                            <a href="javascript:" class="btn btn-success btn-sm btn-total-contacts" data-toggle="modal" data-target="#modelContactsUser">
                                @(user.Contacts != null && user.Contacts.Any() ? user.Contacts.Count() : 0)
                            </a>
                        </td>
                        <td>@user.RegistrationDate</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@user.IdUser" asp-controller="User" asp-action="Update">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@user.IdUser" asp-controller="User" asp-action="Remove">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
           
        </tbody>
    </table>

    <div id="modelContactsUser" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Listagem de Contatos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table" id="table-contacts">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Email</th>
                                <th scope="col">Telefone</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>